In [1]:
from orangecontrib.argument.miner.reader import read_json_file
from orangecontrib.argument.miner.chunker import TopicModel, get_chunk, get_chunk_polarity_score, get_chunk_topic, get_chunk_rank, get_chunk_table
import pandas as pd

/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.9/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

In [2]:
fpath = "./data_processed_1prod_full.json"

arguments = read_json_file(fpath=fpath)
arguments

                                            reviewText  overall  vote
0    I always get a half size up in my tennis shoes...        3   7.0
1    Put them on and walked 3 hours with no problem...        5   NaN
2                                            excelente        5   NaN
3    The shoes fit well in the arch area. They are ...        4   NaN
4    Tried them on in a store before buying online ...        5  22.0
..                                                 ...      ...   ...
366  Favorite Nike shoe ever! The flex sole is exce...        5   NaN
367       I wear these everyday to work, the gym, etc.        5   NaN
368    Love these shoes! Great fit, very light weight.        5   NaN
369  Super comfortable and fit my small feet perfec...        5   NaN
370                                  Love these shoes!        5   NaN

[371 rows x 3 columns]

In [3]:
arguments = arguments[["reviewText", "overall"]]
arguments = arguments.rename(columns={
    "reviewText": "argument", 
    "overall": "score"
})
arguments

                                              argument  score
0    I always get a half size up in my tennis shoes...      3
1    Put them on and walked 3 hours with no problem...      5
2                                            excelente      5
3    The shoes fit well in the arch area. They are ...      4
4    Tried them on in a store before buying online ...      5
..                                                 ...    ...
366  Favorite Nike shoe ever! The flex sole is exce...      5
367       I wear these everyday to work, the gym, etc.      5
368    Love these shoes! Great fit, very light weight.      5
369  Super comfortable and fit my small feet perfec...      5
370                                  Love these shoes!      5

[371 rows x 2 columns]

In [4]:
arg_ids, chunks = get_chunk(arguments["argument"])
pd.DataFrame({"id": arg_ids, "chunk": chunks}).head()

   id                                              chunk
0   0   I always get a half size up in my tennis shoes .
1   0  For some reason these feel to big in the heel ...
2   1                     walked 3 hours with no problem
3   1                                  Put them on and !
4   1                                        Love them !

In [5]:
p_scores = get_chunk_polarity_score(chunks)

In [6]:
topics, embeds, df_topics = get_chunk_topic(chunks)

In [7]:
ranks = get_chunk_rank(arg_ids=arg_ids, embeds=embeds)

In [8]:
get_chunk_table(arg_ids, chunks, p_scores, topics, ranks)

,argument_id,chunk,polarity_score,topic,rank
0,0,I always get a half size up in my tennis shoes .,-0.166667,28,0.500000
1,0,For some reason these feel to big in the heel ...,-0.050000,11,0.500000
2,1,walked 3 hours with no problem,0.000000,13,0.249329
3,1,Put them on and !,0.000000,23,0.254902
4,1,Love them !,0.625000,1,0.237116
...,...,...,...,...,...
1192,369,I can wear the shoe all day long and,-0.050000,23,0.125534
1193,369,they are easy to clean compared to other shoes...,0.225000,0,0.126438
1194,369,They are light colored so any dirt will be see...,0.342857,21,0.126617
1195,369,Would definitely buy another pair in a differe...,0.000000,17,0.124987
1196,370,Love these shoes !,0.625000,24,1.000000

In [9]:
df_topics.head()

,topic,count,name,keywords,representative_doc
0,-1,27,-1_excelente_stylish_confortable_happens,"[excelente, stylish, confortable, happens, foo...",[This is the optimal sneaker that is flexible ...
1,0,108,0_cross_sneakers_sneaker_goes,"[cross, sneakers, sneaker, goes, casual, insol...",[I was pleasantly surprised by the sole / trea...
2,1,71,1_amazing_turned_liked_absolute,"[amazing, turned, liked, absolute, try, love, ...","[Absolute favorite ., These are my absolute fa..."
3,2,42,2_purchase_satisfied_product_pleased,"[purchase, satisfied, product, pleased, shippi...","[I am very satisfied with this purchase, Over ..."
4,3,49,3_attractive_cool_issues_people,"[attractive, cool, issues, people, sturdy, air...",[they are nice a roomy and allow my feet to br...