In [1]:
import pandas as pd

fpath = "../example/data/data_processed_1prod_full.json"

df = pd.read_json(fpath, lines=True)
df = df.drop(columns=["vote"])
df = df.rename(columns={
    "reviewText": "argument", 
    "overall": "score"
})
df.head()

                                            argument  score
0  I always get a half size up in my tennis shoes...      3
1  Put them on and walked 3 hours with no problem...      5
2                                          excelente      5
3  The shoes fit well in the arch area. They are ...      4
4  Tried them on in a store before buying online ...      5

In [3]:
from orangecontrib.argument.miner.chunker import ArgumentTopic

tmodel = ArgumentTopic()
topics, probs = tmodel.fit_transform_reduced(df["argument"].astype(str))