In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

fpath = '../example/data/data_processed_1prod_full.json'
df = pd.read_json(fpath, lines=True)
docs = df['reviewText'].astype(str)
type(docs)

pandas.core.series.Series

In [4]:
from orangecontrib.argument.miner.miner import ArguTopic

topic_model = ArguTopic()
topic_model.set_embedding_model()
topic_model.set_dimension_reduction_model()
topic_model.set_clustering_model(min_cluster_size=50)
topic_model.set_topic_conduction_models()
doc_topic = topic_model.run(docs)

In [6]:
topic_model.get_topic_info()

   Topic  Count                         Name
0     -1    371  -1_nike_sneakers_shoes_shoe