# Tutorial notebook

This notebook is to demonstrate the function of modules and how they work together.

### Step 1: argument file reader

In [1]:
# read local file into data frame
from orangecontrib.argument.miner.reader import read_json_file, validate

fpath = "../example/data/data_processed_1prod_full.json"

df_arguments = read_json_file(fpath)
df_arguments

                                            reviewText  overall  vote
0    I always get a half size up in my tennis shoes...        3   7.0
1    Put them on and walked 3 hours with no problem...        5   NaN
2                                            excelente        5   NaN
3    The shoes fit well in the arch area. They are ...        4   NaN
4    Tried them on in a store before buying online ...        5  22.0
..                                                 ...      ...   ...
366  Favorite Nike shoe ever! The flex sole is exce...        5   NaN
367       I wear these everyday to work, the gym, etc.        5   NaN
368    Love these shoes! Great fit, very light weight.        5   NaN
369  Super comfortable and fit my small feet perfec...        5   NaN
370                                  Love these shoes!        5   NaN

[371 rows x 3 columns]

In [2]:
# select desired columns and validate data
df_arguments = df_arguments[["reviewText", "overall"]]
df_arguments = validate(df_arguments)
df_arguments

                                              argument  score
0    I always get a half size up in my tennis shoes...      3
1    Put them on and walked 3 hours with no problem...      5
2                                            excelente      5
3    The shoes fit well in the arch area. They are ...      4
4    Tried them on in a store before buying online ...      5
..                                                 ...    ...
366  Favorite Nike shoe ever! The flex sole is exce...      5
367       I wear these everyday to work, the gym, etc.      5
368    Love these shoes! Great fit, very light weight.      5
369  Super comfortable and fit my small feet perfec...      5
370                                  Love these shoes!      5

[371 rows x 2 columns]

### Step 2: argument chunking

In [3]:
from orangecontrib.argument.miner.chunker import ArgumentChunker

chunker = ArgumentChunker(df_arguments["argument"])
df_chunks = chunker.get_chunk_table()
df_topics = chunker.get_topic_table()

/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.10/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.10/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.10/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Volumes/Databank/Workspace/orange3-argument/venv/lib/python3.10/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

In [4]:
df_chunks

      argument_id  ... polarity_score
0               0  ...      -0.166667
1               0  ...      -0.050000
2               1  ...       0.000000
3               1  ...       0.000000
4               1  ...       0.625000
...           ...  ...            ...
1193          369  ...      -0.050000
1194          369  ...       0.225000
1195          369  ...       0.342857
1196          369  ...       0.000000
1197          370  ...       0.625000

[1198 rows x 5 columns]

In [7]:
df_topics

    Topic  ...                                     keyword_scores
0      -1  ...  [1.0810331640637447, 0.9110358900681362, 0.885...
1       0  ...  [0.30263884115408635, 0.2863729606658541, 0.28...
2       1  ...  [0.6364734994625617, 0.5677864343050781, 0.532...
3       2  ...  [0.5354557084870913, 0.4858858080363393, 0.465...
4       3  ...  [0.45491883576830844, 0.43390269115352936, 0.3...
5       4  ...  [0.7355864141703662, 0.7325004164614491, 0.653...
6       5  ...  [0.5199144783679485, 0.4676446297704145, 0.467...
7       6  ...  [0.6011716543874078, 0.590377813171111, 0.5884...
8       7  ...  [0.5646666805558112, 0.5451470422131857, 0.473...
9       8  ...  [0.5491653965100535, 0.4985095639964404, 0.498...
10      9  ...  [0.4527354300361867, 0.4224367624884076, 0.422...
11     10  ...  [0.5607526045968809, 0.540891946423242, 0.5043...
12     11  ...  [0.7374837396206663, 0.6165295586447234, 0.612...
13     12  ...  [0.9583102110328438, 0.910928909758655, 0.7462...
14     13  ...  [1.063105938872524, 0.9055140724308509, 0.7308...
15     14  ...  [0.4290668267981332, 0.42782383323975165, 0.41...
16     15  ...  [0.6647921621340852, 0.6565927326088037, 0.651...
17     16  ...  [0.5842300751043581, 0.5043770756157309, 0.443...
18     17  ...  [0.6704128272947671, 0.5901468077031155, 0.559...
19     18  ...  [0.6482367138044651, 0.5830659284239841, 0.583...
20     19  ...  [0.6155311719453405, 0.5937303740515633, 0.587...
21     20  ...  [0.482795453366629, 0.46452366395588446, 0.448...
22     21  ...  [0.9006260604878047, 0.6666736608229042, 0.606...
23     22  ...  [0.8330148322525124, 0.6788477645809013, 0.673...
24     23  ...  [1.0630153891902554, 0.9338820587693855, 0.815...
25     24  ...  [0.6415461095377332, 0.6134765783364309, 0.553...
26     25  ...  [0.6085980876212014, 0.5944064316743246, 0.530...
27     26  ...  [0.9922680878894906, 0.9182378668855877, 0.863...
28     27  ...  [0.9018497864165703, 0.8480321843695362, 0.799...

[29 rows x 5 columns]