# Example

In [1]:
import pandas as pd

fpath = "./example_dataset.json"

## Read JOSN file as dataframe

This will read the json file, parse and normalize it depending on the file structure, and return a dataframe.

In [4]:
from orangecontrib.argument.miner.reader import read_json_file

read_json_file(fpath).head()

                                          reviewText  overall
0  I always get a half size up in my tennis shoes...        3
1  Put them on and walked 3 hours with no problem...        5
2                                          excelente        5
3  The shoes fit well in the arch area. They are ...        4
4  Tried them on in a store before buying online ...        5