In [13]:
import pandas as pd

fpath = './data_original.json'
df = pd.read_json(fpath, lines=True)
df

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
1,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Black (3746...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
2,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Gray L...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
3,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue (37867...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
4,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Pink'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3171,5,True,"07 2, 2018",A2077NII5H62R2,B005AGO4LU,"{'Size:': ' 8.5 B(M) US', 'Color:': ' Green Gl...",Amazon Customer,Perfect fit!,Five Stars,1530489600,NaN,NaN
3172,5,True,"06 28, 2018",A2IBS6PIPAGAB5,B005AGO4LU,"{'Size:': ' 5 B(M) US', 'Color:': ' Wolf Grey/...",J. Avila,My favorite cross trainers!,Comfortable,1530144000,NaN,NaN
3173,5,True,"06 25, 2018",A1GTC5EVSJNCQ8,B005AGO4LU,"{'Size:': ' 8 B(M) US', 'Color:': ' Blue Tint/...",Amazon Customer,Love them fit perfect,Five Stars,1529884800,NaN,NaN
3174,5,True,"06 20, 2018",A311XHHLM12MUT,B005AGO4LU,"{'Size:': ' 9 B(M) US', 'Color:': ' Blue Tint/...",Peter,Favorite Nike shoe ever! The flex sole is exce...,Love them!,1529452800,NaN,NaN
3175,5,True,"06 16, 2018",A135SGOQMVWABQ,B005AGO4LU,"{'Size:': ' 9 B(M) US', 'Color:': ' Black/Whit...",Susan,"I wear these everyday to work, the gym, etc.",Five Stars,1529107200,NaN,NaN

In [14]:
# pick the product with the highest number of reviews
df_args = df[['reviewText', 'asin', 'overall']]
df_args = df_args.iloc[df_args.astype(str).drop_duplicates().index]
target_prod = df_args.groupby(by='asin')['reviewText'].count().reset_index(name='count').sort_values(by='count', ascending=False).iloc[0]['asin']
df_args_selected = df_args[df_args['asin'] == target_prod].reset_index(drop=True)
df_args_selected = df_args_selected.drop(columns=['asin'])
df_args_selected

                                            reviewText  overall
0    I always get a half size up in my tennis shoes...        3
1    Put them on and walked 3 hours with no problem...        5
2                                            excelente        5
3    The shoes fit well in the arch area. They are ...        4
4    Tried them on in a store before buying online ...        5
..                                                 ...      ...
366  Favorite Nike shoe ever! The flex sole is exce...        5
367       I wear these everyday to work, the gym, etc.        5
368    Love these shoes! Great fit, very light weight.        5
369  Super comfortable and fit my small feet perfec...        5
370                                  Love these shoes!        5

[371 rows x 2 columns]

In [16]:
# sample a subset from the selection
df_args_sample = df_args_selected.groupby(by='overall').apply(lambda x: x.sample(5)).reset_index(drop=True)
df_args_sample

                                           reviewText  overall
0   Returning these. the pictures on here make the...        1
1   After using this shoes seven times for regular...        1
2   After less than a week the sole ripped off on ...        1
3                                         wrong shoes        1
4   I wore these shoe one time, from the airport i...        1
5   I returned these as they were not true to size...        2
6   Color was not at all what i expected.  It was ...        2
7   Tried one in the store and bought it online bu...        2
8   I've always gotten this size in Nike shoes wit...        2
9   These shoes are poorly constructed and I don't...        2
10  Super light and very comfortable. I'm a runner...        3
11  On the left shoe, there were two stained yello...        3
12  This is a shoe I will wear with black dress pa...        3
13  These are a bit longer than they should be. I ...        3
14  Super cute shoe however runs wide and big, I'm...        3
15  Very comfortable sneakers and I also like the ...        4
16  Comfortable athletic shoe,  good for the gym (...        4
17                                  Very comfortable.        4
18  Perfect for the gym, could use a little more s...        4
19  I was really excited when I opened the box to ...        4
20  Very comfortable shoes. I have wide feet with ...        5
21  Love them! Fit exactly as expected in length a...        5
22  Ordered half a size larger than my usual shoe ...        5
23                        My favorite cross trainers!        5
24  My knees were bothering me during HIIT workout...        5

In [17]:
# output data files
df_args_selected.to_json('./data_processed_1prod_full.json', lines=True, orient='records')
df_args_sample.to_json('./data_processed_1prod_sample.json', lines=True, orient='records')